{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Matches</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>

    <body>
    <div>
            {% for player in players %}

                <div class="card-container">
                <a href="{% url 'show' pk=player.pk %}">
                    <span class="pro">Pro</span>

                    <h3>{{ player.first_name }} {{ player.last_name }}</h3>
                    <div class="skills" style="color: #7cff3f">
                        <h6  style="color: #ecedf3"><p>STATS</p></h6>
                        <ul>
                            <li style="color: #ecedf3" ><p>Matches- {{ player.matches }}</p></li>
                            <li style="color: #ecedf3"><p>Runs- {{ player.runs }}</p></li>
                            <li style="color: #ecedf3"><p>50s- {{ player.fifties }}</p></li>
                            <li style="color: #ecedf3"><p>100s- {{ player.hundreds }}</p></li>
                            <li style="color: #ecedf3"><p>Avg- {{ player.average }}</p></li>
                            <li style="color: #ecedf3"><p>Wkt- {{ player.wickets }}</p></li>
                            <li style="color: #ecedf3"><p>NOs-{{ player.notouts }}</p></li>
                        </ul>
                    </div>
                     </a>
                </div>

                <hr>
            {% endfor %}

    <div>

    <br><br>
        <br>
        <a href="{% url 'score' %}"><button class="pro">Each Scores Log</button></a>
    </body>
</html>

