{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Update</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>
    <body>
    <br>
    <br>
        <a href="{% url 'home' %}"><button>CLICK ME FOR HOME PAGE</button></a><br>
        <br><hr>
        <tl>
            {% if obj %}
            {% for i in obj %}
                <ol><p>ID:{{ i.id }}--- &nbsp;{{ i.nameofbatsmen }}&nbsp;{{ i.runscored }}&nbsp;{{ i.nameofbowler }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        Enter Key: {{ form.crypto }}&nbsp;
                        ID : {{ form.scorepk }}&nbsp;
                        <input type="submit" value="Undo">
                    </form>
                </ol>
                <hr>

            {% endfor %}
            {% endif %}
        </tl>


    </body>
</html>