{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Update</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>

    <body>
        <div class="card-container">
                    <span class="pro">Pro</span>

                    <h3>{{ curr.first_name }} {{ curr.last_name }}</h3>
                    <p>Right Hand Batsmen and Right Hand Bowler</p>
                    <div class="skills">
                        <h6>Stats</h6>
                        <ul>
                            <li style="color: #ecedf3" ><p>Matches- {{ player.matches }}</p></li>
                            <li style="color: #ecedf3"><p>Runs- {{ player.runs }}</p></li>
                            <li style="color: #ecedf3"><p>50s- {{ player.fifties }}</p></li>
                            <li style="color: #ecedf3"><p>100s- {{ player.hundreds }}</p></li>
                            <li style="color: #ecedf3"><p>Avg- {{ player.average }}</p></li>
                            <li style="color: #ecedf3"><p>Wkt- {{ player.wickets }}</p></li>
                            <li style="color: #ecedf3"><p>NOs-{{ player.notouts }}</p></li>
                        </ul>
                    </div>
                    <div>
                    <form method="POST">
                        {% csrf_token %}
                        RUNS :<br> {{ form.run }}
                        <br><br>
                        Select Bowler:<br/><br/>
                        {{ form.bowler }}<br><br>
                        Key:<br><br>
                        {{ form.crypto }}
                        <br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                </div>


    </body>
</html>